<% form_tag :action => 'create', :flag=>params[:flag], :sgid=>params[:sgid] do %>
    <% fields_for @questionnaire do |f| %>
        <% if @questionnaire.errors.any? %>
            <div id="error_explanation">
              <h2><%= pluralize(@questionnaire.errors.count, "error") %> prohibited this questionnaire from being
                saved:</h2>

              <ul>
                <% @questionnaire.errors.full_messages.each do |msg| %>
                    <li><%= msg %></li>
                <% end %>
              </ul>
            </div>
        <% end %>


        <div class="field">
          <%= f.label :name %>
          <%= f.text_field :name %>
        </div>
        <div class="field">

          <%= f.hidden_field :user_id, :value=>current_user.id %>
        </div>
        <br/>
        <div class="actions">
          <%= f.submit %>
        </div>

    <% end %>
<% end %>

