<div class="container">
  <div class="sub_container_header" style="background-image: none; border:none;width:100%">
    <h2>Rules for <%=h @student_group.name%></h2>
  </div>

  <div class="sub_container_base" style="width:100%">
    <table style="background-image: none; border:none;width:90%">
      <tr>
        <td style="background-image: none; border:none;width:30%">
          <%= form_tag :action => 'create' %>
          <% @student_group_rules.each_with_index do |student_group_rule, index| %>
            <% fields_for "student_group_rules[#{index}]", student_group_rule do |f| %>
              <% xrule=Rule.find(index+1) %>
              <%= f.hidden_field :student_group_id, :value=>@student_group.id %>
              <% if StudentGroupRule.find(:first,:conditions=>["student_group_id=? and rule_id=?",@student_group.id,index+1])%>
                <% @state= true %>
              <%else%>
                <% @state= false %>
              <% end %>
              <% if xrule.name == "Email Scorecards"%>
                <%= f.check_box :rule_id, {:checked => @state}, "#{index+1}", ""  -%>
                <%= link_to xrule.name, "#", :title=>xrule.description%><br/>
                <center><%=  image_tag("/images/email_scorecards.jpg", :size=>"100x100",:style=>"margin-top:10px;")%></center>
              <% elsif xrule.name == "Planning Document"%>
                <%= f.check_box :rule_id, {:checked => @state}, "#{index+1}", ""  -%>
                <%= link_to xrule.name, "#", :title=>xrule.description%><br/><br/>
                <center><%=  image_tag ("/images/planning.png", :size=>"80x80")%></center>
                <br/>
              </td>
              <td style="background-image: none;vertical-align: top;">
                <table style="background-image: none;border:none;width:100%">
                  <tr>
                    <td style="text-align:center">
                      <%= link_to 'Add A New Rule', {:controller=>"rules", :action=>"new", :student_group=>@student_group.id}, :class=>"fbutton" %>
                    </td>
                  </tr>
                  <tr>
                    <td style="background-image: none;border:none;">
                    <%  else %>
                      <%= f.check_box :rule_id, {:checked => @state}, "#{index+1}", ""  -%>
                      <%= link_to xrule.name, "#", :title=>xrule.description%><br/>
                    </td>
                  </tr>
                  <tr>
                    <td style="background-image: none;border:none;">
                    <% end %>
                  <% end %>
                <% end %>
              </td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
    <table style="background-image: none;border:none;">
      <tr>
        <td style="background-image: none;border:none;">
          <%= submit_tag "Submit"%>
        </td>
        <td style="background-image: none;border:none;">
          <%= link_to 'Cancel', @student_group %>
        </td>
      </tr>
    </table>
  </div>
</div>