<% title "Players" %>

<table>
  <tr>
    <th>Game</th>
    <th>User</th>
    <th>Role</th>
  </tr>
  <% for player in @players %>
    <tr>
      <td><%=h player.game_id %></td>
      <td><%=h player.user_id %></td>
      <td><%=h player.role_id %></td>
      <td><%= link_to "Show", player %></td>
      <td><%= link_to "Edit", edit_player_path(player) %></td>
      <td><%= link_to "Destroy", player, :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
</table>

<p><%= link_to "New Player", new_player_path %></p>
