<div class="container">


  <div class="sub_container_header" style="width:70%">
    <h3>Rules</h3>
  </div>

  <div class="sub_container_base">

    <h1>New rule</h1>

    <%= form_tag :action=>:create_admin %>


    <% fields_for @rule do |f| %>
	<%= f.error_messages %>
      <p>
        <%= f.label :name %><br />
        <%= f.text_field :name %>
      </p>
      <p>
        <%= f.label :description %><br />
        <%= f.text_area :description, :size=>"50x8"%>
      </p>
    <% end %>

    <%= submit_tag 'Create' %><br/>

    <%= link_to 'Cancel', new_student_group_rule_path(:student_group=>params[:student_group]) %>

  </div>
</div>