<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <title><%= h(yield(:title) || "Dialogue") %></title>
  <%= stylesheet_link_tag 'application' %>
  <%= javascript_include_tag :all %>
  <%= csrf_meta_tag %>

  <%= yield(:head) %>
</head>

<body>

<div id="background">
  <img src="/images/back-texture.jpg" alt="background" style="background-repeat: repeat-y;"/>
</div>

<div id="top_panel" class="container" >
      <table style="width:100%;border:none;background-image: none;">
        <tr style="border:none;background-image: none;">
          <td style="width:250px;border:none;background-image: none;">
            <span style="font-size:48px;font-weight: bolder">Dialogue</span><br/>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;The Negotiation Platform&nbsp;&nbsp;&nbsp;
          </td>
          <td style="width:250px;border:none;background-image: none;">

          </td>
          <td style="border:none;background-image: none;">
            <a href="/" style="float:right;font-weight:lighter;font-size:small;text-align: center;text-decoration: none;color:black;" title="Go to the Home Page">
              <img src="/images/home_icon.png" alt="background" style="width:65px;height:65px"/>
              <%#*<br/>Home%>
            </a>
            <a href="javascript:history.go(-1)" style="float:right;font-weight:lighter;font-size:small;text-align: center;text-decoration: none;color:black;" title="Go to the Previous Page">
              <img src="/images/back.png" alt="background" style="margin-top:2px;width:64px;height:64px"/>
              <%#*<br/>Home%>
            </a>
          </td>
        </tr>
      </table>
    </div>


<%= yield %>

</body>
</html>
